clr
colorama
cycler
Cython
decorator
future
h5py
instrumental
ipython
lmfit
matplotlib
nkt_tools
numpy
pandas
Pillow
pint
pydaqmx
pyface
PyQt5
pyqtgraph
pyserial
pyttsx
pyvisa
pywinauto
PyYAML
qdarkstyle
qtconsole
qtpy
Requests
scipy
seaborn
setuptools
sip
scikit-image
tifffile
tqdm
traits
traitsui
visa
opencv-python-headless
git+https://github.com/OE-FET/PyJISA.git